.buttons {
  border-top: 6px solid rgba(255, 255, 255, 0.041);
  border-right: 4px solid rgba(255, 255, 255, 0.11);
  border-bottom: 2px solid rgba(255, 255, 255, 0.26);
  border-left: 4px solid rgba(255, 255, 255, 0.171);
  border-radius: 8px;
  background-color: #0a0a0a;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-height: 250px;
  padding: 10px;
  gap: clamp(6px, 2vw, 12px);
  position: relative;
}

.button-row {
  display: flex;
  justify-content: space-around;
  gap: 0.3rem;
  place-items: center; 
  width: 100%;
}

button {
  font-size: clamp(0.2rem, 1.4vw, 1rem);
  padding: 0.1rem;
  text-align: center;
  flex: 1 1 0;
  min-width: 0;
  width: clamp(15px, 4vw, 30px);
  height: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.034);
  border-bottom: 6px solid rgba(255, 255, 255, 0.02);
  border-left: 4px solid rgba(255, 255, 255, 0.062);
  background-color: #0e0e0e;
  color: #666666;
  cursor: pointer;
  min-height: 0;
  border-radius: 3px;
  aspect-ratio: 1 / 1; 
  line-height: 1; 
}

.operator, .function, .equals {
  font-weight: bold;
  background-color: #adadad;
  color: #000000;
  border-top: 2px solid rgba(255, 255, 255, 0.884);
  border-right: 4px solid rgba(255, 255, 255, 0.274);
  border-bottom: 6px solid rgba(255, 255, 255, 0.192);
  border-left: 4px solid rgba(255, 255, 255, 0.541);
}

.operator:hover, .function:hover, .equals:hover {
  background-color: #c4c4c4;
}

.operator:active, .function:active, .equals:active {
  background-color: #dbdbdb;
  border-top: 6px solid rgba(255, 255, 255, 0.616);
  border-right: 4px solid rgba(255, 255, 255, 0.486);
  border-bottom: 2px solid rgba(255, 255, 255, 0.986);
  border-left: 4px solid rgba(255, 255, 255, 0.829);
}

button:hover {
  background-color: #222222;
}

button:active {
  background-color: #292929;
  border-top: 6px solid rgba(255, 255, 255, 0.014);
  border-right: 4px solid rgba(255, 255, 255, 0.062);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid rgba(255, 255, 255, 0.034);
  transform: translateY(1px);
}


